<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">ABOUT</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <img
                        src="/avatar.jpg"
                        style="width: 100%;border-radius: 3px;"
                >
            </div>
            <div
                    class="col-lg-6"
                    style="word-wrap: break-word;word-break: break-word;"
            >
                <h4>luotao</h4>
                <a href="mailto:luotaoyeah@gmail.com">luotaoyeah@gmail.com</a>
            </div>
        </div>
    </div>
</div>

