<% if (site.categories.length){ %>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">CATEGORIES</h3>
    </div>
    <div class="panel-body">
        <%- list_categories({
            show_count: theme.show_count,
            class: 'sidebar-module'
        }) %>
    </div>
</div>
<% } %>
