<% if (site.posts.length){ %>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">RECENTS</h3>
    </div>
    <div class="panel-body">
        <ul class="sidebar-module-list">
            <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
            <li>
                <a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
            </li>
            <% }) %>
        </ul>
    </div>
</div>
<% } %>