<html>
    <%- partial('_partial/head') %>
    <body>
        <div class="container-fluid"><%- body %></div>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

    </body>
</html>