<% if (post.categories && post.categories.length){ %>
<span style="margin-left: 10px;">分类：<%- list_categories(post.categories, {
        show_count: false,
        class: 'article-category',
        style: 'list'
    }) %></span>
<% } %>

