<footer class="blog-footer">
    <div class="container">
        <div id="footer-info"
             class="inner">
            POWERED BY <a href="http://hexo.io/"
                          target="_blank">HEXO</a>
        </div>
    </div>
</footer>
