.content-header {
    min-height: 206px;
}

.footer {
    background-color: #F6F6F6;
    color: #333333;
}

.footer a {
    border: none;
}

.footer a:hover {
    border: none;
    color: blue;
}

a:hover {
    text-decoration: none;
}

.post-content p a:hover,
.post-content li a:hover,
.post-content p a:active,
.post-content li a:active {
    border-bottom-style: dashed;
}

.post-content p a,
.post-content li a {
    border-bottom-style: dashed;
}
