<footer class="footer">
    <div class="bottom">
        <p>
            <span>
                <% if(theme.ICP_license) { %>
                <a href="http://www.miitbeian.gov.cn/"
                   target="_blank"><%- theme.ICP_license %></a><br>
                <% } %>
                POWER BY <a href="http://hexo.io/"
                            target="_blank">HEXO</a>·THEME <a href="https://github.com/yscoder/hexo-theme-indigo"
                                                              target="_blank">INDIGO</a>
            </span>
        </p>
    </div>
</footer>
