body {
  font-family: "Microsoft YaHei", "微软雅黑", "宋体", SimSun, Heiti, sans-serif;
  font-size: 18px;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Microsoft YaHei", "微软雅黑", "宋体", SimSun, Heiti, sans-serif;
  width: 100%;
  border-bottom-style: dashed;
}

h2 {
  margin-bottom: 20px;
}

a {
  color: #666666;
  cursor: pointer;
}

a:hover, a:focus {
  background: initial;
  color: #428BCA;
  text-decoration none;
}

.panel > .list-group .list-group-item {
  padding: 0;
}

.panel > .list-group .list-group-item a {
  font-size: 16px;
  display: block;
  padding: 10px 15px;
  color: #428BCA;
}

.navbar-nav {
  margin: 0 !important;
}

.navbar-brand,
.navbar-collapse a {
  line-height: 22px;
  border: none;
  margin: 0 !important;
}

.navbar-default {
  background-image: none;
  box-shadow: none;
  opacity: 1 !important;
  background: #F8F8F8;
}

.navbar-default li {
  margin: 0;
}

.navbar-default .container-fluid {
  margin: 0;
  padding: 0;
}

.navbar-header {
  margin: 0 !important;
}

.toc {
  margin-bottom: 30px;
}

.toc-item,
.toc a {
  color: #333333;
}

pre, code {
  font-family: Monaco, Consolas, "Courier New";
}

.headerlink {
  display: none;
}

figure {
  border-radius: 2px;
}

img {
  box-shadow: none;
  border-radius: 3px;
  max-width: 100%;
  margin-left: 0;
}

#disqus_thread {
  border-top: 1px solid #DDDDDD;
  margin: 45px -45px 0;
  padding: 30px 60px;
}

.article-content {
  border: 1px solid #DDDDDD;
  padding: 15px 45px 0;
  margin: 100px 0 50px;
  border-radius: 3px;
}