// Components
@import "_common/components";

// font size
$font-size-base = 14px
$font-size-small = $font-size-base - 2px
$font-size-smaller = $font-size-base - 4px
$font-size-large = $font-size-base + 2px
$font-size-larger = $font-size-base + 4px

h1 {
  border-bottom-width: 0;
  margin-bottom: 30px;
}

p {
  text-indent: 0;
}
