// Components
@import "_common/components";

// font size
$font-size-base = 14px
$font-size-small = $font-size-base - 2px
$font-size-smaller = $font-size-base - 4px
$font-size-large = $font-size-base + 2px
$font-size-larger = $font-size-base + 4px

body {
  margin: 100px auto 50px;
  width: 70%;
  border-radius: 3px;
  padding: 10px 60px 30px;
}

h1 {
  border-bottom: 3px solid #D3D3D3;
  margin-bottom: 30px;
}
